@font-face {
    font-family: 'Rubik Dirt';
    src: url('/fonts/RubikDirt-Regular.woff2') format('woff2'),
         url('/fonts/RubikDirt-Regular.woff') format('woff'),
         url('/fonts/RubikDirt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Rubik Dirt', sans-serif;
}


.interactive-text {
    transition: transform 0.2s ease;
}

.draw-line {
    width: 0;
    height: 4px;
    background-color: white;
    transition: width 1.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.bio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text within bio-text */
}

.bio-text > div {
    max-width: 80%; /* Limit width of the text content */
}

.about-header {
    display: flex;
    justify-content: center; /* Initial center alignment */
    width: 100%; /* Ensure it takes full width to allow expansion */
    overflow: hidden; /* Clip overflowing content during animation */
    opacity: 0; /* Initially hidden */
    animation: fadeInMove 1s ease-out forwards, expandAboutHeader 1s ease-out forwards;
    animation-delay: 0.5s; /* Delay to match other header animations */
    transition: opacity 1s ease-out; /* Smooth opacity transition */
}

.about-header.fade-in-move {
    opacity: 1; /* Make visible when fade-in-move class is added */
}


.about-header-about {
    margin-right: 0; /* Initial spacing */
    text-align: right; /* For expansion from center */
}

.about-header-me-container {
    margin-left: 0; /* Initial spacing */
    text-align: left; /* For expansion from center */
    justify-content: flex-start; /* Align line and "ME" to the start */
}

.about-header-me-container .draw-line {
    margin-right: 0.5rem; /* Spacing between line and "ME" */
}

/* Keyframes for the About Header Animation */
@keyframes expandAboutHeader {
    0% {
        justify-content: center; /* Start centered */
    }
    100% {
        justify-content: flex-start; /* Expand to left */
    }
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
